.game-details-title {
  margin-bottom: 20px;
}

.game-details-image {
  max-height: 600px;
  width: 100%;
  margin: 0 auto;
  object-fit: cover;
  margin-bottom: 20px;
}

.game-details-description {
  line-height: 1.5;
  margin-bottom: 30px;
  font-weight: 500;
}

.game-details-website-button {
  display: inline-block;
  background-color: crimson;
  border-radius: 4px;
  padding: 10px 25px;
  color: #fff;
  font-weight: 500;
  text-decoration: none;

  transition: 0.2s ease-in-out;

  &:hover,
  &:active,
  &:focus {
    filter: brightness(120%);
  }

  @include on-mobile {
    display: block;
    text-align: center;
  }
}
